html, body {
	padding: 0 10%;
	margin: 0;
	align-items: center;
	background-color: #54704A;

}

#wrap{
	background: #B5B67D;
}

#header {
	padding: 5px 25px 40px;
	text-align: right;
}

#sidebar{
	float: right;
	width: 20%;
	padding: 0 2.5% 0 2.5%;
}


#content {
	background-color: #738F69;
	float: left;
	width: 70%;
  padding: 20px 2.5%;
}

#content ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#content ul li {
	font-weight: bold;
	margin: 2px;
	text-decoration: none;
	padding: 0.2em 1em;
}

#nav {
	background-color: #669D59;
	padding: 10px;
	border-bottom: 2px dashed #FFF;
}

#nav ul
{
	margin: 0;
	padding: 5px 10px;
	list-style-type: none;
}

#nav ul li {
	display: inline;
}

#nav ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
}

#footer {
	clear: both;
	text-align: center;
}